{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json",
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint/eslint-plugin"],
  "root": true,
  "env": {
    "node": true,
    "mocha": true
  },
  "ignorePatterns": [".eslintrc.js"],
  "rules": {
    "linebreak-style": ["error", "windows"],
    "no-console": ["warn"],
    "semi": "off",
    "indent": "off",
    "brace-style": "off",
    "quotes": "off",
    "require-await": "off",
    "space-before-function-paren": "off",
    "space-infix-ops": "off",
    "no-useless-constructor": "off",
    "no-use-before-define": "off",
    "comma-dangle": "off",
    "comma-spacing": "off",
    "keyword-spacing": "off",
    "no-duplicate-imports": "off",
    "no-empty-function": "off",
    "no-extra-parens": "off",
    "no-extra-semi": "off",
    "no-invalid-this": "off",
    "no-magic-numbers": "off",
    "no-redeclare": "off",
    "no-shadow": "off",
    "no-throw-literal": "off",
    "no-unused-expressions": "off",
    "no-unused-vars": "off",
    "object-curly-spacing": "off",
    "eol-last": ["error", "always"],
    "@typescript-eslint/adjacent-overload-signatures": ["error"],
    "@typescript-eslint/await-thenable": ["off"],
    "@typescript-eslint/semi": ["error", "always"],
    "@typescript-eslint/indent": ["error", 2],
    "@typescript-eslint/quotes": ["error", "single"],
    "@typescript-eslint/require-await": ["error"],
    "@typescript-eslint/space-before-function-paren": ["error", {
      "anonymous": "always",
      "named": "never",
      "asyncArrow": "always"
    }],
    "@typescript-eslint/space-infix-ops": ["error"],
    "@typescript-eslint/no-useless-constructor": ["error"],
    "@typescript-eslint/no-use-before-define": ["error"],
    "@typescript-eslint/brace-style": ["error", "1tbs"],
    "@typescript-eslint/comma-dangle": ["error", "never"],
    "@typescript-eslint/comma-spacing": ["error"],
    "@typescript-eslint/func-call-spacing": ["error"],
    "@typescript-eslint/keyword-spacing": ["error", { "before": true, "after": true }],
    "@typescript-eslint/no-duplicate-imports": ["error"],
    "@typescript-eslint/no-empty-function": ["error"],
    "@typescript-eslint/no-extra-parens": ["error", "all"],
    "@typescript-eslint/no-extra-semi": ["error"],
    "@typescript-eslint/no-invalid-this": ["error"],
    "@typescript-eslint/no-magic-numbers": "off",
    "@typescript-eslint/no-redeclare": ["error"],
    "@typescript-eslint/no-shadow": ["error", { "hoist": "all" }],
    "@typescript-eslint/no-throw-literal": ["error"],
    "@typescript-eslint/no-unused-expressions": ["error"],
    "@typescript-eslint/no-unused-vars": ["error", { "argsIgnorePattern": "^_.*$" }],
    "@typescript-eslint/object-curly-spacing": ["error", "always"],
    "@typescript-eslint/explicit-module-boundary-types": ["error", { "allowArgumentsExplicitlyTypedAsAny": true }],
    "@typescript-eslint/no-confusing-non-null-assertion": ["error"],
    "@typescript-eslint/no-confusing-void-expression": ["error"],
    "@typescript-eslint/no-dynamic-delete": ["error"],
    "@typescript-eslint/no-empty-interface": ["error"],
    "@typescript-eslint/no-extra-non-null-assertion": ["error"],
    "@typescript-eslint/no-floating-promises": ["error"],
    "@typescript-eslint/no-for-in-array": ["error"],
    "@typescript-eslint/no-inferrable-types": ["warn"],
    "@typescript-eslint/no-invalid-void-type": ["error"],
    "@typescript-eslint/no-misused-new": ["error"],
    "@typescript-eslint/no-misused-promises": ["warn"],
    "@typescript-eslint/no-require-imports": ["error"],
    "@typescript-eslint/no-this-alias": ["warn"],
    "@typescript-eslint/no-unnecessary-boolean-literal-compare": ["warn"],
    "@typescript-eslint/no-unnecessary-condition": ["warn"],
    "@typescript-eslint/no-unnecessary-qualifier": ["warn"],
    "@typescript-eslint/no-unnecessary-type-arguments": ["warn"],
    "@typescript-eslint/no-unnecessary-type-assertion": ["warn"],
    "@typescript-eslint/no-unnecessary-type-constraint": ["warn"],
    "@typescript-eslint/non-nullable-type-assertion-style": ["error"],
    "@typescript-eslint/prefer-as-const": ["error"],
    "@typescript-eslint/prefer-enum-initializers": ["error"],
    "@typescript-eslint/prefer-for-of": ["warn"],
    "@typescript-eslint/prefer-includes": ["error"],
    "@typescript-eslint/prefer-literal-enum-member": ["error"],
    "@typescript-eslint/prefer-nullish-coalescing": ["error"],
    "@typescript-eslint/prefer-optional-chain": ["error"],
    "@typescript-eslint/prefer-readonly": ["warn"],
    "@typescript-eslint/prefer-string-starts-ends-with": ["error"],
    "@typescript-eslint/promise-function-async": ["error"],
    "@typescript-eslint/require-array-sort-compare": ["warn"],
    "@typescript-eslint/restrict-plus-operands": ["error"],
    "@typescript-eslint/triple-slash-reference": ["error", { "path": "never", "types": "never", "lib": "never" }],
    "@typescript-eslint/type-annotation-spacing": ["error"],
    "@typescript-eslint/unbound-method": ["error"],
    "@typescript-eslint/unified-signatures": ["error"]
  }
}